<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <!-- /////////////////////////////COMPANY LOGO BROWSER TAB///////////////////////////// -->
    <link rel="shortcut icon" type="image/png" href="https://evertz.com/favicon.ico">

    <!-- /////////////////////////////COMPANY LOGO BROWSER TAB end///////////////////////// -->

    <!-- //////////////////////////////////BOOTSTRAP CDN/////////////////////////////////// -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.js'></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

    <!-- //////////////////////////////////BOOTSTRAP CDN end/////////////////////////////// -->

    <!-- /////////////////////////////////////MY CSS/////////////////////////////////////// -->
    <link rel="stylesheet" href="../css/profile.css">


    <!-- /////////////////////////////////////MY CSS end/////////////////////////////////// -->

    <!-- ///////////////////////////////FONTAWESOME ICONS////////////////////////////////// -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <!-- ///////////////////////////////FONTAWESOME ICONS////////////////////////////////// -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:500&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: Helvetica, sans-serif;
        }

        .table-wrapper {
            margin-top: 50px;
        }

        .player-img {
            width: 40px;
            height: 40px;
        }

        .add-player-form {
            margin-top: 50px;
        }

        .table td,
        .table th {
            color: #ffffff;
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <!--Main Navigation begin -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: var(--dark-color-1);">
        <div class="d-flex justify-content-between mobile-nav">
            <a class="navbar-brand" href="#"><img src="../img/2.png" style="width:150px">
                <!-- <span style="font-weight: 600; font-style: italic; padding-top: 14px;
                position: absolute;">India</span> -->
            </a>
            <button class="navbar-toggler mr-4 ml-4" type="button" data-toggle="collapse" data-target="#navbarSearch"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-search"></i>
            </button>

            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="sidebar-right-mobile">
                    <li class="nav-item mb-4 mt-4">
                        <a class='mb-2' href=""> <i class="fas fa-fw fa-user text-dark"></i>
                            <span class="menu-items active-tab glow">Profile Information</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class='mb-2' href=""><i class="fas fa-fw fa-calendar-check text-dark"></i>
                            <span class="menu-items text-dark">Leave Management</span>
                        </a>
                    </li>
                    <li class="nav-item mb-4">
                        <a href="" class='mb-2'><i class="fas fa-rupee-sign text-dark"></i>
                            <span class="menu-items text-dark">Finanace Management</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class=''><i class="fas fa-plane text-dark"></i>
                            <span class="menu-items text-dark">Travel and Holiday</span>
                        </a>
                    </li>
                </div>

            </ul>

        </div>

        <div class="collapse navbar-collapse" id="navbarSearch">
            <form class="form-inline">
                <input class="form-control mr-sm-4" type="search" style="border-radius: 20px;width:480px;"
                    placeholder="Search" aria-label="Search">
                <button class="btn btn-custom my-2 my-sm-0 yellow glow" type="submit"
                    style="color:white !important; display: none;">Search</button>
            </form>
        </div>
        <!-----------------favicons--------------------------->
        <div>
            <a href="#"><i class="fas fa-envelope"></i></a>
            <span class="badge yellow">inbox</span>
        </div>
        <div>
            <a href='#' style="color:black"><i class="fas fa-question" style="padding-left:20px"></i></a>
            <a href="faq"><span class="badge yellow">FAQ</span></a>
            <a class="badge yellow" href="/add" title="Add a New Player">Add a Member</a>
        </div>
        <div class="nav-item dropdown no-arrow ml-auto">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-400 small font-weight-bold text-dark">name</span>
                <img class="img-profile rounded-circle" width=45 height=45 src="#">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </div>


        <!-------------------------------userprofile------------------------>

        <!------<button type="button" class="btn btn-outline-success my-2 my-sm-0">Logout</button>---->


    </nav>
    <!-- END of main navigation -->
    <div class="container">
        <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
        <% } %>

        <% if (player) { %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first-name"
                        value="<%= player.first_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last-name"
                        value="<%= player.last_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username"
                        value="<%= player.user_name %>" required disabled title="Username can't be changed">
                </div>
                <div class="form-group col-md-4">
                    <label for="date-of-birth">Date Of Birth</label>
                    <input type="date" class="form-control" name="date_of_birth" id="date-of-birth"
                        placeholder="Date Of Birth" value="<%= player.date_of_birth.toISOString().slice(0,10) %>"
                        required>
                </div>
                <div class="form-group col-md-4">
                    <label for="date-of-joining">Date Of Joining</label>
                    <input type="date" class="form-control" name="date_of_joining" id="date-of-joining"
                        placeholder="Date Of Joining" value="<%= player.date_of_joining.toISOString().slice(0,10) %>"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="number">Number</label>
                    <input type="number" class="form-control" name="number" id="number" placeholder="Number"
                        value="<%= player.number %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="position">Position</label>
                    <select id="position" name="position" class="form-control" required>
                        <option selected><%= player.position %></option>
                        <option>Intern</option>
                        <option>Project Engineer</option>
                        <option>BackEnd Developer</option>
                        <option>UI/UX developer</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Update Player</button>
        </form>
        <% } else { %>
        <p class="text-center">Player Not Found. Go <a href="/add">here</a> to add players.</p>
        <% } %>
    </div>
    </div>
</body>

</html>